<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs: EnableBrowserLink" value="false" />
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="l2dataAVO3Entities" connectionString="metadata=res://*/Models.AVO3DBModel.csdl|res://*/Models.AVO3DBModel.ssdl|res://*/Models.AVO3DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.90.203.4\L2DATASQLEXPRESS;initial catalog=l2data;persist security info=True;user id=user;password=user;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="l2dataAVO4Entities" connectionString="metadata=res://*/Models.AVO4DBModel.csdl|res://*/Models.AVO4DBModel.ssdl|res://*/Models.AVO4DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.90.203.5\L2DATASQLEXPRESS;initial catalog=l2data;persist security info=True;user id=user;password=user;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="l2dataAVO5Entities" connectionString="metadata=res://*/Models.AVO5DBModel.csdl|res://*/Models.AVO5DBModel.ssdl|res://*/Models.AVO5DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.90.203.6\L2DATASQLEXPRESS;initial catalog=l2data;persist security info=True;user id=user;password=user;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="l2l3interactionEntities" connectionString="metadata=res://*/Models.l2l3dataModel.csdl|res://*/Models.l2l3dataModel.ssdl|res://*/Models.l2l3dataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.90.210.61\L2DATASQLEXPRESS;initial catalog=l2l3interaction;persist security info=True;user id=user;password=user;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>